<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing Form</title>
</head>
<body>
    <h3>Edit your  listings </h3>
        <br><br>
    <form method="POST" action="/listings/<%= Listing._id %>?_method = PUT">
        <input name="listing[title]" value="<%= listing.title %>" type="text">
        <br><br>              
        <input name="listing[description]" value="<%= listing.description %>"  type="text">
        <br><br>
        <input name="listing[image]" value="<%= listing.image %>" >
        <br><br>
        <input name="listing[price]" value="<%= listing.price %>"  type="number">
        <br><br>
        <input name="listing[location]" value="<%= listing.location %>"  type="text">
        <br><br>
        <input name="listing[country]" value="<%= listing.country %>"  type="text">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>